# All things django and asyncio are deliberately left to pulpcore
# Example transitive requirements: asgiref, asyncio, aiohttp
pulpcore>=3.41.0,<3.55
python-debian>=0.1.44,<0.2.0
python-gnupg>=0.5,<0.6
jsonschema>=4.6,<5.0
